
body {
    background-color: #6d051f; 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    color: #fff; 
}


.navbar {
    background-color: #198754;
}


.navbar-logo {
    max-width: 80px;
    height: auto;
    margin-right: 10px;
}


.card {
    border-radius: 16px;  
    border: none;        
    background-color: #fff;
    color: #000;            
    margin-bottom: 1.5rem;
}

input, button {
    border-radius: 0.5rem;
}


.btn-success {
    background-color: #198754;
    border-color: #198754;
}

.btn-outline-light {
    border-color: #fff;
    color: #fff;
}

.btn-outline-light:hover {
    background-color: #fff;
    color: #198754;
}

img {
    max-width: 120px;
    height: auto;
}


h3, h4, h5 {
    color: #198754; 
}

p, li {
    color: #333;
}


footer {
    color: #ccc;
    font-size: 0.9rem;
    text-align: center;
    padding: 1rem 0;
}

.container {
    padding-top: 2rem;
    padding-bottom: 2rem;
}
